 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import "../../base/base";
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 400px 4);
  $medium: new-breakpoint(max-width 700px 4);
  max-width: 1600px;
  width: 100%;
  margin: 0px;

  .navbar {
    @include span-columns(12);
    min-height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }//end navbar

  .bigPic {
    @include span-columns(12);
    min-height: 400px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .skillsIntro {
    @include span-columns(12);
    min-height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .skills {
    @include span-columns(12);
    min-height: 240px;
    border: 1px solid black;

  .skills1 {
    @include span-columns(4 of 12);
    min-height: 200px;
    border: 1px solid black;
  }

  .skills2 {
    @include span-columns(4 of 12);
    min-height: 200px;
    border: 1px solid black;
  }

  .skills3 {
    @include span-columns(4 of 12);
    min-height: 200px;
    border: 1px solid black;
  }
}//end skills

  .works {
    @include span-columns(12);
    min-height: 240px;
    border: 1px solid black;    
  }

}//end container
