 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import "../../base/base";
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width 400px 4);
  $medium: new-breakpoint(max-width 700px 4);
  max-width: 1600px;
  width: 100%;
  margin: 0px;

  .navbar {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    min-height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }//end navbar

  .bigPic {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    min-height: 600px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: #fff url(../images/atlskyline.jpg) no-repeat center center;
  //  background-size: 240% 150%;

  }

  .skillsIntro {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    min-height: 80px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .skills {
    @include span-columns(12);
    min-height: 240px;
    border: 1px solid black;
    margin-left: 3.0%;

    .skillsH {
      text-align: center;
      margin-bottom: 20px;
    }

  .skills1 {
    @include span-columns(4 of 12);
    min-height: 200px;
    border: 1px solid black;
  }

  .skills2 {
    @include span-columns(4 of 12);
    min-height: 200px;
    border: 1px solid black;
  }

  .skills3 {
    @include span-columns(4 of 12);
    min-height: 200px;
    border: 1px solid black;
  }
}//end skills

  .works {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(3);
    }//end media(mobile)
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 5%;
    min-height: 400px;

      .proH {
        text-align: center;
        margin-bottom: 20px;
      }

     .views li {
      @include span-columns(3);
      @include omega(3n);
      @include media($mobile) {
        @include span-columns(3);
      }//end media(mobile)
      display: inline-block;
      min-height: 300px;
      width: 30%;
      border: 10px solid #fff;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      text-align: center;
      box-shadow: 1px 1px 2px #e6e6e6;
      cursor: default;
      background: #fff url(../images/swirly.jpg) no-repeat center center
    }

    .views li .mask, .views li .content {
      width: 100%;
      height: 300px;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0
    }
    .views li img {
      display: block;
      width: 600px;
      height: 300px;
      position: relative
    }
    .views li h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
      margin: 20px 0 0 0
    }
    .views li p {
      font-family: Georgia, serif;
      font-style: italic;
      font-size: 12px;
      position: relative;
      color: #fff;
      padding: 10px 20px 20px;
      text-align: center
    }
    .views li a.info {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      background: #000;
      color: #fff;
      text-transform: uppercase;
      box-shadow: 0 0 1px #000
    }
    .views li a.info:hover {
      box-shadow: 0 0 5px #000
    }

    .view-fourth img {
      transition: all 0.4s ease-in-out 0.2s;
      opacity: 1;
    }
    .view-fourth .mask {
      background-color: rgba(0,0,0,0.8);
      opacity: 0;
      transform: scale(0) rotate(-180deg);
      transition: all 0.4s ease-in;
      border-radius: 0px;
    }
    .view-fourth h2{
      opacity: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background: transparent;
      margin: 20px 40px 0px 40px;
      transition: all 0.5s ease-in-out;
    }
    .view-fourth p {
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    .view-fourth a.info {
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    .view-fourth:hover .mask {
      opacity: 1;
      transform: scale(1) rotate(0deg);
      transition-delay: 0.2s;
    }
    .view-fourth:hover img    {
      transform: scale(0);
      opacity: 0;
      transition-delay: 0s;
    }
    .view-fourth:hover h2,
    .view-fourth:hover p,
    .view-fourth:hover a.info{
      opacity: 1;
      transition-delay: 0.5s;
    }

  }// end .works


}//end container
