 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Fonts
$Raleway: 'Raleway', sans-serif;
$Fjalla: 'Fjalla One', sans-serif;

//Colors
$Chesnut: HSLA(6, 50%, 48%, 1);

body {
  background: white;
  font-family: $Raleway;
  color: #333;

.container {
  @include outer-container;
  $medium: new-breakpoint(max-width 750px 12);
  $mobile: new-breakpoint(max-width 400px 4);
  max-width: 1600px;
  position: relative;

  .navbar {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(6);
    }//end media(mobile)
    min-height: 40px;
    width: 100%;
    margin-right: 0px;

    .buttons{
      @include span-columns(4 of 12);
      @include media($mobile) {
        @include span-columns(6);
      }//end media(mobile)

      li{
      display: inline-block;
      margin-right: 5%;
      font:normal 24px $Fjalla;
      cursor: pointer;
      list-style-type: none;
      text-shadow:
      1px 0px 1px #ccc, 0px 1px 1px #eee,
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;

      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;

        a {
          color: inherit;
          text-decoration: none;
        }

        h4{
          margin-top: 10px;
          margin-bottom: 10px;
          color: black;
        }

        h4:hover  {
          font-weight: bold;
          color: $Chesnut;
        }
      }
    }//end bu
  }//end navbar

  .mainOne {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(7.25);
    }//end media(mobile)
    position: relative;
    min-height: 600px;
    //max-width: 1278px;
    width: 100%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-right: 0px;
    margin-bottom: 40px;

  .bigPic {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(7.25);
    }//end media(mobile)
    position: absolute;
    min-height: 595px;
    //max-width: 1278px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
    background: url(../images/atlanta.jpg) no-repeat center center;
    -webkit-filter: blur(7px) grayscale(100%);
    -moz-filter: grayscale(100%);
    z-index: 3;
  }

    .heading {
      @include media($mobile) {
        @include span-columns(4);
        margin-top: 80px;
        font:normal 28px $Fjalla;
      }//end media(mobile)
      position: relative;
      margin-top: 100px;
      font:normal 32px $Fjalla;
      color:white;
      z-index: 5;

      h1{
        text-align: center;
        margin-left: 0px;
      }

      p{
        margin-left: 0px;
        font:normal 40px $Fjalla;
        text-align: center;
        list-style-type: none;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
      }

      ul {
        display: block;
        margin-left: 37%;

      li {
        display: inline-block;
        width: 8%;
        height: 9%;
        margin-right: 4%;
        border-radius: 50em;
        background-color: white;
        color: black;
        list-style-type: none;
        text-align: center;

      }
      .a1 {
        padding-top: 3px;
        padding-right: 2px;
      }

      .a2 {
        padding-top: 5px;
      }

      .a3 {
        padding-top: 3px;
      }
    }
   }
  }//end MainOne

  .skills {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(6.5);
    }//end media(mobile)
    background: HSLA(0, 0%, 95%, 1);
    min-height: 240px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-right: 0px;
    padding-bottom: 60px;

    .skillsH {
      margin-top: 60px;
      margin-bottom: 60px;
      font:normal 32px $Fjalla;
      text-align: center;
      text-shadow:
      1px 0px 1px #ccc, 0px 1px 1px #eee,
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    }

  .skillscontain {
    min-height: 240px;
    margin-left: 15%;

  .skills1 {
    @include span-columns(3.95 of 12);
    @include media($mobile) {
      @include span-columns(4);
    }//end media(mobile)
    text-align: justify;
    margin: 0 auto;
    min-height: 200px;
    padding-right: 7%;
    font-size:16px;

    img {
      margin-left:35%;
    }

    h4 {
      font-size:18px;
    }

  }

  .skills2 {
    @include span-columns(3.95 of 12);
    @include media($mobile) {
      @include span-columns(4);
    }//end media(mobile)
    text-align: justify;
    margin: 0 auto;
    min-height: 200px;
    padding-right: 7%;
    font-size:16px;

    img {
      margin-left:35%;
    }

    h4{
      font-size:18px;
    }
  }

  .skills3 {
    @include span-columns(3.95 of 12);
    @include media($mobile) {
      @include span-columns(4);
    }//end media(mobile)
    text-align: justify;
    margin: 0 auto;
    min-height: 200px;
    padding-right: 7%;
    font-size:16px;

    img {
      margin-left:35%;
    }

    h4{
      font-size:18px;
    }
  }
}//end skills contain
}//end skills

  .works {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(6.5);
    }//end media(mobile)
    margin-bottom: 50px;
    min-height: 400px;

      .proH {
        margin-bottom: 60px;
        font:normal 32px $Fjalla;
        text-align: center;
        text-shadow:
        1px 0px 1px #ccc, 0px 1px 1px #eee,
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc, 4px 5px 1px #eee,
        6px 5px 1px #ccc, 5px 6px 1px #eee,
        7px 6px 1px #ccc;
      }

     .views li {
      @include span-columns(3);
      @include omega(3n);
      @include media($mobile) {
        @include span-columns(3.5);
      }//end media(mobile)
      display: inline-block;
      min-height: 300px;
      width: 30%;
      border: 10px solid HSLA(0, 0%, 95%, 1);
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      text-align: center;
      box-shadow: 1px 1px 2px #e6e6e6;
      cursor: pointer;
      list-style-type: none;
      background: #fff url(../images/swirly.jpg) no-repeat center center
    }

    .views li .mask, .views li .content {
      width: 100%;
      height: 300px;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0
    }
    .views li img {
      display: block;
      width: 100%;
      height: 300px;
      position: relative
    }
    .views li h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
      margin: 20px 0 0 0
    }
    .views li p {
      font-family: Georgia, serif;
      font-style: italic;
      font-size: 14px;
      position: relative;
      color: white;
      padding: 10px 20px 20px;
      text-align: center
    }
    .views li a {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      color: white;
      text-transform: uppercase;
      box-shadow: 0 0 1px #000
    }
    .views li a:hover {
      box-shadow: 0 0 5px #000;
      color: $Chesnut;
    }

    .view-fourth img {
      transition: all 0.4s ease-in-out 0.2s;
      opacity: 1;
    }
    .view-fourth .mask {
      background-color: rgba(0,0,0,0.8);
      opacity: 0;
      transform: scale(0) rotate(-180deg);
      transition: all 0.4s ease-in;
      border-radius: 0px;
    }
    .view-fourth h2{
      opacity: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background: transparent;
      margin: 20px 40px 0px 40px;
      transition: all 0.5s ease-in-out;
    }
    .view-fourth p {
      color:white;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
    .view-fourth a.info {
      color: white;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    .view-fourth:hover .mask {
      opacity: 1;
      transform: scale(1) rotate(0deg);
      transition-delay: 0.2s;
    }
    .view-fourth:hover img    {
      transform: scale(0);
      opacity: 0;
      transition-delay: 0s;
    }
    .view-fourth:hover h2,
    .view-fourth:hover p,
    .view-fourth:hover a.info{
      color: white;
      opacity: 1;
      transition-delay: 0.5s;
    }
  }// end .works

  .contact {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(6.5);
    }//end media(mobile)
    background: HSLA(0, 0%, 95%, 1);
    min-height: 240px;
    margin-top: 40px;
    padding-bottom: 40px;

    .contactH {
      margin-top: 60px;
      margin-bottom: 20px;
      font:normal 32px $Fjalla;
      text-align: center;
      text-shadow:
      1px 0px 1px #ccc, 0px 1px 1px #eee,
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    }


    .contact1{
      @include span-columns(6);
      @include media($mobile) {
        @include span-columns(4);
        width: 90%
      }//end media(mobile)
      margin-left: 4%;
      margin-right: 13%;
      width: 39%;
      height: 370px;

      p {
        margin-top: 60px;
        margin-left: 17%;
        margin-right: 20%;
        font-size:26px;
        color:black;
        text-align: justify;
      }

    }

    .contact2{
      @include span-columns(4.5);
      @include media($mobile) {
        @include span-columns(4);
        font-size:23px;
        margin-left: 5%;
      }//end media(mobile)
      padding-top: 16px;
      list-style-type: none;
      font-size:28px;
      color:black;

      .name {
        font-size:32px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      li:hover  {
        color: $Chesnut;
      }

      .link:hover {
        color: $Chesnut;
      }

    }
   //}
  }

}//end container
}//end body
